html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    object-fit: scale-down;
    width: 100%;
}

.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.thumb {
    padding: 5px;
}

.fancybox-frame {
    display: inline-flex;
}

.gallery-column {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.profile-picture {
    width: 250px;
    height: 250px;
}