@*
    Rating summary page
    Rating system done in MVC-way lmao
    How this turned out to be a duplicate?
*@

@model RatingAppliedViewModel

@{
    var user = Model.VotingUser;
    var note = Model.Note;
    var rating = Model.Rating;

    if (user == null)
    {
        <h2>You can't rate this note.</h2>
    }
    else
    if (note == null)
    {
        <h2>This note doesn't exist!</h2>
    }
    else
    if (rating == null)
    {
        <h2>You have already rated this note: "@note.Title".</h2>
    }
    else
    {
        var score = rating.Score;
        var isUpvoted = score == 1;

        <h2>You have <b>@(isUpvoted ? "up" : "down")</b>voted this note: "@note.Title".</h2>
    }
}

<a href="javascript:history.go(-1)" class="btn btn-sm btn-outline-secondary">Go back</a>