@*
    Wrong page error
*@

@{
    ViewData["Title"] = "Wrong page error";
}

@model WrongPageViewModel

<h1>404 - Page not found</h1>
<h2>Error: can't get @Model.PageSize notes from page @Model.Page</h2>