@*
    Log out first error page
*@

@inject ILanguageService LanguageService

@{
    ViewData["Title"] = LanguageService.GetKey("ErrorLogOutFirst_PageTitle");
}

<h1>@LanguageService.GetKey("ErrorLogOutFirst_Title")</h1>
<p>@LanguageService.GetKey("ErrorLogOutFirst_Text")</p>