@*
    Not found error page
*@

@inject ILanguageService LanguageService

@{
    ViewData["Title"] = LanguageService.GetKey("Error404_Title");
}

<h1>@LanguageService.GetKey("Error404_Text1")</h1>
<p>@LanguageService.GetKey("Error404_Text2")</p>