@*
    Application error page
*@

@inject LanguageService LanguageService

@{
    ViewData["Title"] = LanguageService.GetKey("Error500_Title");
}

<h1>@LanguageService.GetKey("Error500_Text1")</h1>
<p>@LanguageService.GetKey("Error500_Text2")</p>