@*
    Error page
*@

@inject LanguageService LanguageService

@{
    ViewData["Title"] = LanguageService.GetKey("ErrorPage_Title");
}

<h1>@ViewData["Title"].</h1>
<p>@LanguageService.GetKey("ErrorPage_Text")</p>