@*
    View for creating a new note
*@

@{
    ViewData["Title"] = "Create a new note";
}

@model CreateNoteViewModel

@if (User.IsAuthenticated())
{
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" class="form-control" placeholder="Note title"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" class="form-control" placeholder="Description"/>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SelectedThread">Thread</label>
            <select asp-for="SelectedThread" asp-items="@Model.AvailableThreads" class="form-control form-control-lg">
                <option>--Select a thread--</option>
            </select>
            <span asp-validation-for="SelectedThread" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Images">Images</label>
            <input asp-for="Images" class="form-control" placeholder="Images" accept="image/*"/>
            <span asp-validation-for="Images" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
}
else
{
    <div class="row">
        <span>
            You are not logged in!
        </span>
    </div>
}