@*
    Edit note page
*@

@{
    ViewData["Title"] = "Edit the note";
}

@model EditNoteViewModel

@if (User.IsAuthenticated())
{
    <form method="post" asp-action="Edit" enctype="multipart/form-data">
        <input type="hidden" value="NoteId" id="NoteId"/>
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" class="form-control" placeholder="Title of the Note"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" class="form-control" placeholder="Description of the Note"/>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SelectedThread">Selected thread</label>
            <select asp-for="SelectedThread" asp-items="@Model.AvailableThreads" class="form-control form-control-lg">
                <option>--Select a thread--</option>
            </select>
            <span asp-validation-for="SelectedThread" class="text-danger"></span>
        </div>
        <div class="form-group">
            Don't select new images if you want to keep the old ones.
        </div>
        <div class="form-group">
            <label asp-for="Images">Images</label>
            <input asp-for="Images" class="form-control" placeholder="Note images" accept="image/*"/>
            <span asp-validation-for="Images" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
}
else
{
    <div class="row">
        <span>
            You are not logged in!
        </span>
    </div>
}
