@{
    ViewData["Title"] = "Image Sharing";
}

<div class="text-center">
    <h1 class="display-4">Image Sharing</h1>
    <p>Simple sharing platform and web storage for images.</p>
    <p>Built using <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a> MVC.</p>
</div>
