@*
    Privacy page
*@

@inject ILanguageService LanguageService

@{
    ViewData["Title"] = LanguageService.GetKey("Privacy_Title");
}

<h1>@ViewData["Title"]</h1>
<p>@LanguageService.GetKey("Privacy_Text")</p>