@*
    Profile edit page
*@

@{
    ViewData["Title"] = "Edit profile";
}

@model EditUserProfileViewModel

@if (User.IsAuthenticated())
{
    <form method="post" asp-action="EditUserProfile" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Status">Status</label>
            <input asp-for="Status" class="form-control" placeholder="Your status"/>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        <div class="form-group">
            Don't select new profile image if you want to keep the old one.
        </div>
        <div class="thumb">
            <a class="fancybox-frame profile-picture" data-fancybox href="@ImagePathHelper.GetHref(Model.ProfilePicture.ImageFileName)">
                <img src="@ImagePathHelper.GetPath(Model.ProfilePicture.ImageFileName)" asp-append-version="true">
            </a>
        </div>
        <div class="form-group">
            <label asp-for="NewProfilePicture">New profile picture</label>
            <input asp-for="NewProfilePicture" class="form-control" placeholder="Select new profile picture" accept="image/*" />
            <span asp-validation-for="NewProfilePicture" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
}
else
{
    <div class="row">
        <span>
            You are not logged in!
        </span>
    </div>
}