@*
    All threads list
*@

@{
    ViewData["Title"] = "All threads";
}

@model AvailableThreadsViewModel

@if (!Model.Threads.Any())
{
    <h3>There are no threads yet.</h3>
}
else
{
    <h1>All threads</h1>

    var threads = Model.Threads;
    foreach (var thread in threads)
    {
        <div style="margin: 5px;">
            <a asp-controller="Threads" asp-action="GetByThread" asp-route-thread="@thread.Thread" class="btn btn-sm btn-outline-secondary">@thread.Thread</a>
        </div>
    }
}