@*
    All threads list
*@

@inject ILanguageService LanguageService

@{
    ViewData["Title"] = LanguageService.GetKey("Threads_Title");
}

@model AvailableThreadsViewModel

@if (!Model.Threads.Any())
{
    <h3>@LanguageService.GetKey("Threads_Nothing")</h3>
}
else
{
    <h2>@ViewData["Title"]</h2>

    var threads = Model.Threads;
    foreach (var thread in threads)
    {
        <div class="thread-button-block">
            <a asp-controller="Threads" asp-action="GetByThread" asp-route-thread="@thread.Thread" class="btn btn-sm btn-outline-secondary my-button">@thread.Thread</a>
        </div>
    }
}